body {
    font-size: 120%;
}

#Header { /* Menus et titre supérieurs */
    display: inline-block;
    width: 100%;
    opacity: 100%;
    color: black;
    font-size: 75%;
}
h1 {
    font-size: 140%;
    display: inline;
}

#menu {
    display: inline-block;
    width: 85%;
}

#menu,
#menu li {
    list-style: none;
    text-align: center;
}

#menu li {
    display: inline-block;
    position: relative;
    margin-left: 6%;
}

#menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#menu a:hover {
    color: rgb(255, 255, 255);
}